- 데이터 연결

In [49]:
import pandas as pd

df1 = pd.read_csv('./codes/data/concat_1.csv')
df2 = pd.read_csv('./codes/data/concat_2.csv')
df3 = pd.read_csv('./codes/data/concat_3.csv')
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [50]:
print(df2)

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [51]:
print(df3)

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [52]:
print(df1.index)

RangeIndex(start=0, stop=4, step=1)

In [53]:
print(df1.columns)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [54]:
print(df1.values)

[['a0' 'b0' 'c0' 'd0']
 ['a1' 'b1' 'c1' 'd1']
 ['a2' 'b2' 'c2' 'd2']
 ['a3' 'b3' 'c3' 'd3']]

In [55]:
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [56]:
print(row_concat.iloc[ 3, :])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [57]:
new_row_series = pd.Series(['n1','n2','n3','n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [58]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [59]:
new_row_df = pd.DataFrame(
    data = [['n1','n2','n3','n4']],     #데이터 행 생성 시 두겹의 대괄호 쌍 사용
    columns=['A','B','C','D'],
)
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [60]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [61]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index = True) #기존 인덱스 무시하고 새로이 설정
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [62]:
col_concat = pd.concat([df1, df2, df3], axis='columns')  #axis에 1 또는 'columns'를 설정하면 열 방향으로 연결
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [63]:
print(col_concat['A'])   #A열 기준으로 추출

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [64]:
col_concat['Hello'] = ['n1','n2','n3','n4']   #index수 맞춰야함
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D Hello
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8    n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9    n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10    n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11    n4

In [65]:
col_concat['New'] = pd.Series(['1','2','3','4'])  #시리즈 추가도 가능
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D Hello New
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8    n1   1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9    n2   2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10    n3   3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11    n4   4

In [66]:
print(pd.concat([df1, df2, df3], axis= "columns", ignore_index = True))  #열 이름 다시 설정

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [68]:
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [69]:
row_concat = pd.concat([df1,df2,df3])
print(row_concat)            #단순히 df을 쌓지 않고 열을 자동으로 정렬 , NaN 결측값

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [70]:
print(pd.concat([df1,df2,df3], join='inner'))

print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ ")

print(pd.concat([df1,df2,df3], join='outer'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [71]:
print(pd.concat([df1,df3], join='inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [73]:
df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7]

print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [75]:
col_concat = pd.concat([df1, df2, df3], axis="columns")  #axis 열방향
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [76]:
print(pd.concat([df1,df3], axis = "columns", join = 'inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

- 분할된 데이터 연결

In [78]:
from pathlib import Path
#현재 디렉토리를 나타내는 객체 
billboard_data_files = (
    Path(".")
    .glob('./codes/data/billboard-by_week/billboard-*.csv')
)

#패턴에 맞는 모든 파일을 generator 형태로 찾아줌 , 정렬도 안되어있고 리스트도 아닌 일종의 흐름, 한 번 사용하면 내용이 사라짐

billboard_data_files=sorted(list(billboard_data_files))
                    #이름기준 정렬( glob()가 준 generator를 실제 리스트로 변환해줌)
print(billboard_data_files)

[WindowsPath('codes/data/billboard-by_week/billboard-01.csv'), WindowsPath('codes/data/billboard-by_week/billboard-02.csv'), WindowsPath('codes/data/billboard-by_week/billboard-03.csv'), WindowsPath('codes/data/billboard-by_week/billboard-04.csv'), WindowsPath('codes/data/billboard-by_week/billboard-05.csv'), WindowsPath('codes/data/billboard-by_week/billboard-06.csv'), WindowsPath('codes/data/billboard-by_week/billboard-07.csv'), WindowsPath('codes/data/billboard-by_week/billboard-08.csv'), WindowsPath('codes/data/billboard-by_week/billboard-09.csv'), WindowsPath('codes/data/billboard-by_week/billboard-10.csv'), WindowsPath('codes/data/billboard-by_week/billboard-11.csv'), WindowsPath('codes/data/billboard-by_week/billboard-12.csv'), WindowsPath('codes/data/billboard-by_week/billboard-13.csv'), WindowsPath('codes/data/billboard-by_week/billboard-14.csv'), WindowsPath('codes/data/billboard-by_week/billboard-15.csv'), WindowsPath('codes/data/billboard-by_week/billboard-16.csv'), WindowsPath('codes/data/billboard-by_week/billboard-17.csv'), WindowsPath('codes/data/billboard-by_week/billboard-18.csv'), WindowsPath('codes/data/billboard-by_week/billboard-19.csv'), WindowsPath('codes/data/billboard-by_week/billboard-20.csv'), WindowsPath('codes/data/billboard-by_week/billboard-21.csv'), WindowsPath('codes/data/billboard-by_week/billboard-22.csv'), WindowsPath('codes/data/billboard-by_week/billboard-23.csv'), WindowsPath('codes/data/billboard-by_week/billboard-24.csv'), WindowsPath('codes/data/billboard-by_week/billboard-25.csv'), WindowsPath('codes/data/billboard-by_week/billboard-26.csv'), WindowsPath('codes/data/billboard-by_week/billboard-27.csv'), WindowsPath('codes/data/billboard-by_week/billboard-28.csv'), WindowsPath('codes/data/billboard-by_week/billboard-29.csv'), WindowsPath('codes/data/billboard-by_week/billboard-30.csv'), WindowsPath('codes/data/billboard-by_week/billboard-31.csv'), WindowsPath('codes/data/billboard-by_week/billboard-32.csv'), WindowsPath('codes/data/billboard-by_week/billboard-33.csv'), WindowsPath('codes/data/billboard-by_week/billboard-34.csv'), WindowsPath('codes/data/billboard-by_week/billboard-35.csv'), WindowsPath('codes/data/billboard-by_week/billboard-36.csv'), WindowsPath('codes/data/billboard-by_week/billboard-37.csv'), WindowsPath('codes/data/billboard-by_week/billboard-38.csv'), WindowsPath('codes/data/billboard-by_week/billboard-39.csv'), WindowsPath('codes/data/billboard-by_week/billboard-40.csv'), WindowsPath('codes/data/billboard-by_week/billboard-41.csv'), WindowsPath('codes/data/billboard-by_week/billboard-42.csv'), WindowsPath('codes/data/billboard-by_week/billboard-43.csv'), WindowsPath('codes/data/billboard-by_week/billboard-44.csv'), WindowsPath('codes/data/billboard-by_week/billboard-45.csv'), WindowsPath('codes/data/billboard-by_week/billboard-46.csv'), WindowsPath('codes/data/billboard-by_week/billboard-47.csv'), WindowsPath('codes/data/billboard-by_week/billboard-48.csv'), WindowsPath('codes/data/billboard-by_week/billboard-49.csv'), WindowsPath('codes/data/billboard-by_week/billboard-50.csv'), WindowsPath('codes/data/billboard-by_week/billboard-51.csv'), WindowsPath('codes/data/billboard-by_week/billboard-52.csv'), WindowsPath('codes/data/billboard-by_week/billboard-53.csv'), WindowsPath('codes/data/billboard-by_week/billboard-54.csv'), WindowsPath('codes/data/billboard-by_week/billboard-55.csv'), WindowsPath('codes/data/billboard-by_week/billboard-56.csv'), WindowsPath('codes/data/billboard-by_week/billboard-57.csv'), WindowsPath('codes/data/billboard-by_week/billboard-58.csv'), WindowsPath('codes/data/billboard-by_week/billboard-59.csv'), WindowsPath('codes/data/billboard-by_week/billboard-60.csv'), WindowsPath('codes/data/billboard-by_week/billboard-61.csv'), WindowsPath('codes/data/billboard-by_week/billboard-62.csv'), WindowsPath('codes/data/billboard-by_week/billboard-63.csv'), WindowsPath('codes/data/billboard-by_week/billboard-64.csv'), WindowsPath('codes/data/billboard-by_week/billboard-65.csv'), WindowsPath('codes/data/billboard-by_week/billboard-66.csv'), WindowsPath('codes/data/billboard-by_week/billboard-67.csv'), WindowsPath('codes/data/billboard-by_week/billboard-68.csv'), WindowsPath('codes/data/billboard-by_week/billboard-69.csv'), WindowsPath('codes/data/billboard-by_week/billboard-70.csv'), WindowsPath('codes/data/billboard-by_week/billboard-71.csv'), WindowsPath('codes/data/billboard-by_week/billboard-72.csv'), WindowsPath('codes/data/billboard-by_week/billboard-73.csv'), WindowsPath('codes/data/billboard-by_week/billboard-74.csv'), WindowsPath('codes/data/billboard-by_week/billboard-75.csv'), WindowsPath('codes/data/billboard-by_week/billboard-76.csv')]

In [79]:
billboard01 = pd.read_csv(billboard_data_files[0])  #[] 리스트 순서
billboard02 = pd.read_csv(billboard_data_files[1])
billboard03 = pd.read_csv(billboard_data_files[2])
print(billboard01)

     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [81]:
print(billboard01.shape)    #데이터 확인
print(billboard02.shape)
print(billboard03.shape)

(317, 7)
(317, 7)
(317, 7)

In [82]:
billboard = pd.concat([billboard01, billboard02, billboard03])
print(billboard.shape)        #연결된 데이터 확인

(951, 7)

In [86]:
assert (
    billboard01.shape[0] + billboard02.shape[0] + billboard03.shape[0] == billboard.shape[0]
)

In [87]:
from pathlib import Path

billboard_data_files = (
    Path(".")
    .glob('./codes/data/billboard-by_week/billboard-*.csv')
)

#빈 리스트 생성
list_billboard_df = []

for csv_filename in billboard_data_files:
    df = pd.read_csv(csv_filename)

    list_billboard_df.append(df)  #df를 리스트에 추가

print(len(list_billboard_df))

76

In [88]:
print(type(list_billboard_df[0]))

<class 'pandas.core.frame.DataFrame'>

In [89]:
print(list_billboard_df[0])

     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [90]:
billboard_loop_concat = pd.concat(list_billboard_df)
print(billboard_loop_concat.shape)

(24092, 7)

- 리스트 컴프리헨션으로 여러 개 파일 불러오기

In [91]:
billboard_data_files = (
    Path(".")
    .glob('./codes/data/billboard-by_week/billboard-*.csv')
)
#빈 리스트 생성
list_billboard_df = []

for csv_filename in billboard_data_files:
    df = pd.read_csv(csv_filename)
    list_billboard_df.append(df)

billboard_data_files = ( 
    Path(".")
    .glob('./codes/data/billboard-by_week/billboard-*.csv')
)

billboard_dfs = [pd.read_csv(data) for data in billboard_data_files]
                    #for 문을 간략하게 씀. billboard_data_files의 루프를 돌며 리스트를 만드는 컴프리헨션

In [92]:
#컴프리헨션 확인
print(len(billboard_dfs))

76

- 여러 데이터셋 병합 / 관측 데이터셋 사용

In [93]:
person = pd.read_csv('./codes/data/survey_person.csv')
site = pd.read_csv('./codes/data/survey_site.csv')
survey = pd.read_csv('./codes/data/survey_survey.csv')
visited = pd.read_csv('./codes/data/survey_visited.csv')
print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [94]:
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [95]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [96]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25