# 팀 스터디 및 데이터분석 과정 개인공부

- 연산

In [1]:
print(100/200)

0.5

In [2]:
print(100 // 3) #몫

33

In [3]:
print( 100 % 3 ) #나머지

1

In [4]:
print(200)

200

In [5]:
2 ** 48

281474976710656

In [6]:
123412341234234234 + 1

123412341234234235

In [7]:
a = 1
type(a)

int

In [8]:
a = 'a'
type(a)

str

In [9]:
a = 1.1
type(a)

float

In [10]:
a = True
type(a)

bool

In [11]:
print( True and True)
print( False and True)

True
False

In [12]:
a = 7
b = 7
print( a == b)

True

In [13]:
print( a != b)

False

In [14]:
print( 1 == 1.0)
print( 1 is 1.0)
print( 1 is not 1.0)

True
False
True

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\user\AppData\Local\Temp\ipykernel_6180\1828120868.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print( 1 is 1.0)
C:\Users\user\AppData\Local\Temp\ipykernel_6180\1828120868.py:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print( 1 is not 1.0)

- 변수와 자료형

In [15]:
x = 'Hello ~'
print(x)

Hello ~

In [16]:
x,y,z = 100,200,300
print(x)
print(z)

100
300

In [17]:
x = 10
print('1',x)
del x
print('2', x)

1 10

NameError: name 'x' is not defined

In [18]:
int_val = 1
print(int_val)

1

In [20]:
float_val2 = 10.5 + 1E12    # 1000000000000 
print(float_val2)

1000000000010.5

In [21]:
complex_val2 = 2.12e1 - 7j
print(complex_val2)

(21.2-7j)

In [22]:
str = 'Hi hi'
print(str)

Hi hi

In [23]:
print(str[1])

i

In [24]:
print(str[1:5])

i hi

In [25]:
print(str[1::2])

ih

In [26]:
print(str * 4)

Hi hiHi hiHi hiHi hi

In [27]:
print(str + 'good morning')

Hi higood morning

In [28]:
list = ['abcd', 567, 2.46, 'Lee', 52.5]
print(list)

['abcd', 567, 2.46, 'Lee', 52.5]

In [29]:
print(list[0])

abcd

In [30]:
list[1] = 134
print(list)

['abcd', 134, 2.46, 'Lee', 52.5]

- Tupple

In [31]:
tup = (1, 'abse', 5.2)
print(tup)

(1, 'abse', 5.2)

In [32]:
print(tup[2])

5.2

In [34]:
tup[2] = 3.7   # 튜플 지정 시 변경 안됨

TypeError: 'tuple' object does not support item assignment

In [35]:
a = (1,4,6,7,6,3)
max(a)

7

In [36]:
def add(a,b):
    return a+b

a=33
b=7345

c=add(a,b)
print(c)

7378

- CSV 불러오기

In [1]:
import os
os.getcwd()

'C:\\Users\\user\\데이터분석2'

In [2]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BE29-C994

 C:\Users\user\데이터분석2 디렉터리

2025-04-23  오후 11:34    <DIR>          .
2025-04-23  오후 11:34    <DIR>          ..
2025-04-23  오후 11:34    <DIR>          .ipynb_checkpoints
2025-04-23  오후 11:11            86,913 1일차-KG-checkpoint.ipynb
2025-04-23  오후 11:11            86,913 1일차-KG.ipynb
2024-11-24  오전 11:55            79,510 2. 웹 크롤링-checkpoint.ipynb
2024-12-04  오후 05:27           871,680 2일차-checkpoint.ipynb
2025-03-21  오후 11:06           369,969 2일차-KG-checkpoint.ipynb
2025-04-22  오전 10:28           369,921 2일차-KG.ipynb
2024-12-05  오후 06:03         1,545,811 3일차-checkpoint.ipynb
2025-03-21  오후 11:06         1,700,161 3일차-KG-checkpoint.ipynb
2025-04-22  오전 10:51         1,700,182 3일차-KG.ipynb
2025-04-21  오전 08:53           220,777 4일차-checkpoint.ipynb
2025-03-21  오후 11:05           689,165 4일차-KG-checkpoint.ipynb
2025-03-21  오후 11:10           689,165 4일차-KG.ipynb
2025-04-23  오후 11:07           234,071 4일차.ipynb
2025-03-16  오후 09:01           706,388 5일차-checkpoint.ipynb
2025-03-22  오후 10:31           588,087 5일차-KG-checkpoint.ipynb
2025-03-23  오전 09:01           590,283 5일차-KG.ipynb
2025-04-23  오후 11:07           689,118 5일차.ipynb
2025-03-23  오전 12:08         1,566,621 6일차-checkpoint.ipynb
2025-04-21  오전 11:42         1,569,061 6일차.ipynb
2025-03-18  오전 12:33         2,374,129 7일차-checkpoint.ipynb
2025-03-29  오후 01:49         1,625,443 7일차-KG.ipynb
2025-04-21  오전 11:42         2,280,630 7일차.ipynb
2025-03-30  오전 10:17         3,547,009 8일자-checkpoint.ipynb
2025-03-29  오후 10:07         4,061,860 8일자-보험 사기자 분류 예측.ipynb
2025-04-23  오후 11:08    <DIR>          bookings.csv
2024-12-15  오후 06:01           347,470 bookings.csv.zip
2016-07-26  오전 10:37        46,835,340 CLAIM_DATA.csv
2025-03-22  오후 11:50            18,832 confusion_matrix.csv
2016-07-26  오전 09:14         4,088,118 CUST_DATA.csv
2025-04-23  오후 11:08    <DIR>          data
2025-03-18  오전 12:21           152,263 dbscan_image-checkpoint.png
2025-03-18  오전 12:21           152,263 dbscan_image.png
2025-03-08  오후 06:50               138 example.csv
2025-03-15  오후 07:33           602,499 Hotel Booking.pdf
2024-12-15  오후 06:28           602,499 hotel_booking.pdf
2025-04-23  오후 11:08    <DIR>          hotel_bookings.csv
2024-12-15  오후 06:08         1,308,365 hotel_bookings.csv.zip
2024-12-15  오후 06:21         5,262,846 hotel_bookings2.csv
2025-03-17  오후 11:46            92,207 k-means_images-checkpoint.png
2025-03-17  오후 11:46            92,207 k-means_images.png
2025-04-22  오전 10:19             8,127 new_tips.csv
2025-03-15  오후 07:20           134,355 OutputFile-checkpoint.png
2025-03-15  오후 07:20           134,355 OutputFile.png
2025-03-16  오후 08:59           977,501 Telco-Customer-Churn.csv
2024-12-04  오후 12:47                58 test.csv
2024-12-29  오후 10:16           601,254 test1_modify.csv
2025-04-21  오전 08:53         6,524,974 test2_modify.csv
2025-03-17  오후 10:13           506,405 test3_modify.csv
2024-12-04  오후 04:18             9,729 tips.csv
2024-12-15  오후 02:15           648,353 train.csv
2024-12-30  오전 12:32             2,111 tree-checkpoint.dot
2024-12-29  오후 11:36             1,756 tree-checkpoint.txt
2025-03-15  오후 07:18             2,122 tree.dot
2024-12-30  오전 12:31             2,111 tree.txt
2025-04-23  오후 11:33            15,379 복습.ipynb
2025-03-22  오후 11:51            26,402 분류모형 성능평가.ipynb
              53개 파일          97,392,906 바이트
               6개 디렉터리  237,599,678,464 바이트 남음

In [3]:
!dir data

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BE29-C994

 C:\Users\user\데이터분석2\data 디렉터리

2025-04-23  오후 11:08    <DIR>          .
2025-04-23  오후 11:08    <DIR>          ..
2022-02-17  오후 01:20        75,594,357 서울특별시 공공자전거 이용정보(시간대별)_21.01.csv
2025-04-22  오전 10:05        46,919,793 서울특별시 공공자전거 이용정보(시간대별)_21.01.xlsx
               2개 파일         122,514,150 바이트
               2개 디렉터리  237,599,670,272 바이트 남음

In [4]:
import pandas as pd

In [5]:
#파일 경로 찾고 변수에 파일명 저장

file_path = './data/서울특별시 공공자전거 이용정보(시간대별)_21.01.csv'
print(file_path)

./data/서울특별시 공공자전거 이용정보(시간대별)_21.01.csv

In [6]:
import time

In [17]:
#pd를 사용해서 df으로 변환
start_time = time.time() #코드 실행 시간 측정
df1 = pd.read_csv(file_path, encoding ='cp949')  #인코딩 시 utf-8 , cp949, euc-kr 순서로 시도

end_time = time.time()
print(end_time - start_time)
df1

1.321711540222168

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5
...,...,...,...,...,...,...,...,...,...,...,...,...
718852,2021-01-31,23,207,207. 여의나루역 1번출구 앞,단체권,NaN,~10대,5,916.66,8.66,37335.95,219
718853,2021-01-31,23,3549,3549.건영아파트 앞,단체권,NaN,20대,2,492.87,4.51,19447.10,133
718854,2021-01-31,23,248,248. 초원아파트 앞,단체권,NaN,20대,2,348.43,2.91,12569.64,90
718855,2021-01-31,23,131,131. 증산2교,단체권,NaN,20대,2,98.10,0.77,3302.87,20
718856,2021-01-31,23,247,247. 당산역 10번출구 앞,단체권,M,40대,1,223.71,2.02,8691.10,52

- 데이터 저장

In [19]:
#파일 경로를 찾고 변수에 파일명을 저장
file_path = './data/서울특별시 공공자전거 이용정보(시간대별)_21.01.csv' 

#read csv로 df 변환
df1 = pd.read_csv(file_path, encoding = 'cp949')
print(df1)
print( '=' * 50 )

#to_csv 함수로 csv 파일 저장하기 ,  index=False를 입력해야 인덱스 추가로 생기지 않음
df1.to_csv('./data/example.csv', index=False)

              대여일자  대여시간  대여소번호                     대여소명 대여구분코드   성별 연령대코드  \
0       2021-01-01     0   1347  1347. 길음래미안아파트817동 상가 앞    정기권  NaN  ~10대
1       2021-01-01     0   1349       1349. 월계2교 버스정류장 앞    정기권  NaN  ~10대
2       2021-01-01     0   1168        1168. 마곡엠밸리10단지 앞    정기권  NaN  ~10대
3       2021-01-01     0   2619         2619. 석촌고분역 4번출구    정기권  NaN  ~10대
4       2021-01-01     0    536          536. 행당역 2번출구 앞    정기권  NaN  ~10대
...            ...   ...    ...                      ...    ...  ...   ...
718852  2021-01-31    23    207        207. 여의나루역 1번출구 앞    단체권  NaN  ~10대
718853  2021-01-31    23   3549             3549.건영아파트 앞    단체권  NaN   20대
718854  2021-01-31    23    248             248. 초원아파트 앞    단체권  NaN   20대
718855  2021-01-31    23    131                131. 증산2교    단체권  NaN   20대
718856  2021-01-31    23    247         247. 당산역 10번출구 앞    단체권    M   40대

        이용건수     운동량   탄소량      이동거리  사용시간
0          2   28.90  0.23    992.78    13
1          1   34.38  0.26   1127.50    10
2          1    0.00  0.00      0.00     7
3          1   38.75  0.38   1658.34    14
4          1   12.96  0.17    743.88     5
...      ...     ...   ...       ...   ...
718852     5  916.66  8.66  37335.95   219
718853     2  492.87  4.51  19447.10   133
718854     2  348.43  2.91  12569.64    90
718855     2   98.10  0.77   3302.87    20
718856     1  223.71  2.02   8691.10    52

[718857 rows x 12 columns]
==================================================

- 시리즈와 df

In [20]:
import pandas as pd

In [22]:
sd1 = pd.Series(['멍멍','야옹','호랑','사자','원숭'])

sd1

0    멍멍
1    야옹
2    호랑
3    사자
4    원숭
dtype: object

In [23]:
#시리즈 - 리스트
sd1 = pd.Series(['멍멍','야옹','호랑','사자','원숭'],
                index=['a','b','c','d','e'])

sd1

a    멍멍
b    야옹
c    호랑
d    사자
e    원숭
dtype: object

In [26]:
#시리즈 - 딕셔너리 
dict_data = {'a' : '멍멍이', 'b' : '냐옹이', 'c' : '호랑이', 'd' : '사자', 'e' : '원숭이'}
sd2 = pd.Series(dict_data)
sd2

a    멍멍이
b    냐옹이
c    호랑이
d     사자
e    원숭이
dtype: object

In [39]:
#시리즈 - 튜플
sd3 = pd.Series(('멍멍','야옹','호랑','사자','원숭'),
                index=['0','1','2','3','4'])
sd3

0    멍멍
1    야옹
2    호랑
3    사자
4    원숭
dtype: object

In [40]:
sd3.iloc[0]= '물괴기'   #튜플일 경우 위에 인덱스를 지정하지 않고 iloc을 쓸 경우 바뀌지않음
sd3

0    물괴기
1     야옹
2     호랑
3     사자
4     원숭
dtype: object

In [50]:
sd3.loc['3'] =  '어흥'
sd3

0    물괴기
1     야옹
2     호랑
3     어흥
4     원숭
dtype: object

In [51]:
dict_data = {'동물' : ['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'], 
             '나이' : [7, 9, 2, 3, 1]}
print(dict_data)

{'동물': ['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'], '나이': [7, 9, 2, 3, 1]}

In [56]:
df = pd.DataFrame(dict_data)
df

    동물  나이
0  멍멍이   7
1  냐옹이   9
2  호랑이   2
3   사자   3
4  원숭이   1

- df 조작

In [57]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [58]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [59]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [60]:
a_temp = (1,1,2,2,3,4,5,6,7,8)
set(a_temp)

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
print(set(tips['sex']))
print(set(tips['smoker']))
print(set(tips['day']))
print(set(tips['time']))

{'Female', 'Male'}
{'Yes', 'No'}
{'Fri', 'Thur', 'Sat', 'Sun'}
{'Lunch', 'Dinner'}

In [64]:
mapper = {'Fri' : 'Fri',
          'Sat' : 'Sat',
          'Sun' : 'Sun',
          'Thur':'Thur'}

In [66]:
#map()은 시리즈 각 값에 대해 딕셔너리/함수 등을 적용하여 새로운 값을 만들어줌 -> dic에 있는 해당 요일이면 그대로, 아니면 NaN변경
tips['week'] = tips['day'].map(mapper)
tips

     total_bill   tip     sex smoker   day    time  size  week
0         16.99  1.01  Female     No   Sun  Dinner     2   Sun
1         10.34  1.66    Male     No   Sun  Dinner     3   Sun
2         21.01  3.50    Male     No   Sun  Dinner     3   Sun
3         23.68  3.31    Male     No   Sun  Dinner     2   Sun
4         24.59  3.61  Female     No   Sun  Dinner     4   Sun
..          ...   ...     ...    ...   ...     ...   ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3   Sat
240       27.18  2.00  Female    Yes   Sat  Dinner     2   Sat
241       22.67  2.00    Male    Yes   Sat  Dinner     2   Sat
242       17.82  1.75    Male     No   Sat  Dinner     2   Sat
243       18.78  3.00  Female     No  Thur  Dinner     2  Thur

[244 rows x 8 columns]

In [67]:
set(tips['week'])

{'Fri', 'Sat', 'Sun', 'Thur'}

In [68]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'week'], dtype='object')

In [74]:
interested = ['total_bill', 'tip', 'sex', 'smoker', 'time', 'size', 'week']

df = tips[interested]

In [75]:
df

     total_bill   tip     sex smoker    time  size  week
0         16.99  1.01  Female     No  Dinner     2   Sun
1         10.34  1.66    Male     No  Dinner     3   Sun
2         21.01  3.50    Male     No  Dinner     3   Sun
3         23.68  3.31    Male     No  Dinner     2   Sun
4         24.59  3.61  Female     No  Dinner     4   Sun
..          ...   ...     ...    ...     ...   ...   ...
239       29.03  5.92    Male     No  Dinner     3   Sat
240       27.18  2.00  Female    Yes  Dinner     2   Sat
241       22.67  2.00    Male    Yes  Dinner     2   Sat
242       17.82  1.75    Male     No  Dinner     2   Sat
243       18.78  3.00  Female     No  Dinner     2  Thur

[244 rows x 7 columns]

In [76]:
df.to_csv('new_tips.csv', index=False)

In [77]:
df= pd.read_csv('new_tips.csv')
df

     total_bill   tip     sex smoker    time  size  week
0         16.99  1.01  Female     No  Dinner     2   Sun
1         10.34  1.66    Male     No  Dinner     3   Sun
2         21.01  3.50    Male     No  Dinner     3   Sun
3         23.68  3.31    Male     No  Dinner     2   Sun
4         24.59  3.61  Female     No  Dinner     4   Sun
..          ...   ...     ...    ...     ...   ...   ...
239       29.03  5.92    Male     No  Dinner     3   Sat
240       27.18  2.00  Female    Yes  Dinner     2   Sat
241       22.67  2.00    Male    Yes  Dinner     2   Sat
242       17.82  1.75    Male     No  Dinner     2   Sat
243       18.78  3.00  Female     No  Dinner     2  Thur

[244 rows x 7 columns]

In [78]:
del tips

- 행 데이터

In [79]:
df

     total_bill   tip     sex smoker    time  size  week
0         16.99  1.01  Female     No  Dinner     2   Sun
1         10.34  1.66    Male     No  Dinner     3   Sun
2         21.01  3.50    Male     No  Dinner     3   Sun
3         23.68  3.31    Male     No  Dinner     2   Sun
4         24.59  3.61  Female     No  Dinner     4   Sun
..          ...   ...     ...    ...     ...   ...   ...
239       29.03  5.92    Male     No  Dinner     3   Sat
240       27.18  2.00  Female    Yes  Dinner     2   Sat
241       22.67  2.00    Male    Yes  Dinner     2   Sat
242       17.82  1.75    Male     No  Dinner     2   Sat
243       18.78  3.00  Female     No  Dinner     2  Thur

[244 rows x 7 columns]

In [80]:
df2 = df.drop([4]) # 인덱스 4인 행 지우기
df2

     total_bill   tip     sex smoker    time  size  week
0         16.99  1.01  Female     No  Dinner     2   Sun
1         10.34  1.66    Male     No  Dinner     3   Sun
2         21.01  3.50    Male     No  Dinner     3   Sun
3         23.68  3.31    Male     No  Dinner     2   Sun
5         25.29  4.71    Male     No  Dinner     4   Sun
..          ...   ...     ...    ...     ...   ...   ...
239       29.03  5.92    Male     No  Dinner     3   Sat
240       27.18  2.00  Female    Yes  Dinner     2   Sat
241       22.67  2.00    Male    Yes  Dinner     2   Sat
242       17.82  1.75    Male     No  Dinner     2   Sat
243       18.78  3.00  Female     No  Dinner     2  Thur

[243 rows x 7 columns]

In [82]:
df2.iloc[2]  # 특정 행 확인

total_bill     21.01
tip              3.5
sex             Male
smoker            No
time          Dinner
size               3
week             Sun
Name: 2, dtype: object

In [85]:
df.loc[[0,5,7]]   # 여러 행 가져올때는 중괄호 2개 !!!

   total_bill   tip     sex smoker    time  size week
0       16.99  1.01  Female     No  Dinner     2  Sun
5       25.29  4.71    Male     No  Dinner     4  Sun
7       26.88  3.12    Male     No  Dinner     4  Sun

In [87]:
df2.at[3,'sex']   # at 를 이용하여 특정 인덱스, 특정 컬럼 값 가져오기

'Male'

In [89]:
df2.iloc[[1, 3, 5], [0, 3]]  # 왼쪽은 행, 오른쪽은 열

   total_bill smoker
1       10.34     No
3       23.68     No
6        8.77     No

In [91]:
df2[(df2['sex']=='Male') & (df2['smoker']=='No')]  # 남자이면서 비흡연자

     total_bill   tip   sex smoker    time  size week
1         10.34  1.66  Male     No  Dinner     3  Sun
2         21.01  3.50  Male     No  Dinner     3  Sun
3         23.68  3.31  Male     No  Dinner     2  Sun
5         25.29  4.71  Male     No  Dinner     4  Sun
6          8.77  2.00  Male     No  Dinner     2  Sun
..          ...   ...   ...    ...     ...   ...  ...
232       11.61  3.39  Male     No  Dinner     2  Sat
233       10.77  1.47  Male     No  Dinner     2  Sat
235       10.07  1.25  Male     No  Dinner     2  Sat
239       29.03  5.92  Male     No  Dinner     3  Sat
242       17.82  1.75  Male     No  Dinner     2  Sat

[97 rows x 7 columns]

In [92]:
df2[df['week'].isin(['Sun'])]

C:\Users\user\AppData\Local\Temp\ipykernel_20408\1894644898.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[df['week'].isin(['Sun'])]

     total_bill   tip     sex smoker    time  size week
0         16.99  1.01  Female     No  Dinner     2  Sun
1         10.34  1.66    Male     No  Dinner     3  Sun
2         21.01  3.50    Male     No  Dinner     3  Sun
3         23.68  3.31    Male     No  Dinner     2  Sun
5         25.29  4.71    Male     No  Dinner     4  Sun
..          ...   ...     ...    ...     ...   ...  ...
186       20.90  3.50  Female    Yes  Dinner     3  Sun
187       30.46  2.00    Male    Yes  Dinner     5  Sun
188       18.15  3.50  Female    Yes  Dinner     3  Sun
189       23.10  4.00    Male    Yes  Dinner     3  Sun
190       15.69  1.50    Male    Yes  Dinner     2  Sun

[75 rows x 7 columns]

- 열 변수

In [93]:
df2.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
5      25.29
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 243, dtype: float64

In [94]:
df2['tip']

0      1.01
1      1.66
2      3.50
3      3.31
5      4.71
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 243, dtype: float64

In [95]:
df2[['total_bill','tip','sex']]  #중괄호 2개 !!!

     total_bill   tip     sex
0         16.99  1.01  Female
1         10.34  1.66    Male
2         21.01  3.50    Male
3         23.68  3.31    Male
5         25.29  4.71    Male
..          ...   ...     ...
239       29.03  5.92    Male
240       27.18  2.00  Female
241       22.67  2.00    Male
242       17.82  1.75    Male
243       18.78  3.00  Female

[243 rows x 3 columns]

- 파생 변수 생성 후 자료형 확인 및 변환

In [97]:
df2['sum'] = df2['total_bill'] + df2['tip']
df2

     total_bill   tip     sex smoker    time  size  week    sum
0         16.99  1.01  Female     No  Dinner     2   Sun  18.00
1         10.34  1.66    Male     No  Dinner     3   Sun  12.00
2         21.01  3.50    Male     No  Dinner     3   Sun  24.51
3         23.68  3.31    Male     No  Dinner     2   Sun  26.99
5         25.29  4.71    Male     No  Dinner     4   Sun  30.00
..          ...   ...     ...    ...     ...   ...   ...    ...
239       29.03  5.92    Male     No  Dinner     3   Sat  34.95
240       27.18  2.00  Female    Yes  Dinner     2   Sat  29.18
241       22.67  2.00    Male    Yes  Dinner     2   Sat  24.67
242       17.82  1.75    Male     No  Dinner     2   Sat  19.57
243       18.78  3.00  Female     No  Dinner     2  Thur  21.78

[243 rows x 8 columns]

In [98]:
#자료형 확인
df2.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
time           object
size            int64
week           object
sum           float64
dtype: object

In [99]:
#열의 자료형 확인
type(df2.total_bill)

pandas.core.series.Series

In [100]:
tips = sns.load_dataset('tips')
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [101]:
# 커테고리형의 smoker 흡연 유무를 문자열로 변경 .astype()하고 새로운 칼럼에 저장하라.
tips['smoker_str']=tips['smoker'].astype(str)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [102]:
tips

     total_bill   tip     sex smoker   day    time  size smoker_str
0         16.99  1.01  Female     No   Sun  Dinner     2         No
1         10.34  1.66    Male     No   Sun  Dinner     3         No
2         21.01  3.50    Male     No   Sun  Dinner     3         No
3         23.68  3.31    Male     No   Sun  Dinner     2         No
4         24.59  3.61  Female     No   Sun  Dinner     4         No
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3         No
240       27.18  2.00  Female    Yes   Sat  Dinner     2        Yes
241       22.67  2.00    Male    Yes   Sat  Dinner     2        Yes
242       17.82  1.75    Male     No   Sat  Dinner     2         No
243       18.78  3.00  Female     No  Thur  Dinner     2         No

[244 rows x 8 columns]

In [103]:
len(df2)

243

- 정렬 sort

In [105]:
# total_bill(지급액) 'by='total=_bill'을 기준으로 index(axis=0) 오름차순 정렬하기 False면 내림차순

df2.sort_values(by=['total_bill'], axis=0, ascending=True)

     total_bill    tip     sex smoker    time  size  week    sum
67         3.07   1.00  Female    Yes  Dinner     1   Sat   4.07
92         5.75   1.00  Female    Yes  Dinner     2   Fri   6.75
111        7.25   1.00  Female     No  Dinner     1   Sat   8.25
172        7.25   5.15    Male    Yes  Dinner     2   Sun  12.40
149        7.51   2.00    Male     No   Lunch     2  Thur   9.51
..          ...    ...     ...    ...     ...   ...   ...    ...
182       45.35   3.50    Male    Yes  Dinner     3   Sun  48.85
156       48.17   5.00    Male     No  Dinner     6   Sun  53.17
59        48.27   6.73    Male     No  Dinner     4   Sat  55.00
212       48.33   9.00    Male     No  Dinner     4   Sat  57.33
170       50.81  10.00    Male    Yes  Dinner     3   Sat  60.81

[243 rows x 8 columns]