## 나만의 데이터 만들기
----

>시리즈 생성

In [7]:
import pandas as pd

In [54]:
s = pd.Series(['banana',42])      #리스트로 시리즈 생성 시  dtype은 object설정
print(s)

0    banana
1        42
dtype: object

In [55]:
s = pd.Series(data= ['Wes','Creater'],index=['Person','Who'])  #index 지정하지 않을 경우 숫자 자동 생성
print(s)

Person        Wes
Who       Creater
dtype: object

>데이터 프레임 생성

In [57]:
friends = pd.DataFrame({
    "Name" : ["이응지","손재연","임수민"],
    "Area" : ["Seoul","Gyeongju","Busan"],
    "Born" : ["1997-08","1997-09","1997-12"],
    "high" : ["158","160","169"]
})
                                                            
print(friends)

  Name      Area     Born high
0  이응지     Seoul  1997-08  158
1  손재연  Gyeongju  1997-09  160
2  임수민     Busan  1997-12  169

In [60]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    })

print(scientists)

     Occupation        Born        Died  Age
0       Chemist  1920-07-25  1958-04-16   37
1  Statistician  1876-06-13  1937-10-16   61

>시리즈 추출하기

In [61]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"],
)                                                       #index 지정하여 df 생성
  
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [62]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [65]:
first1_row = scientists.iloc[1]    #loc -> iloc로 변환
print(first1_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [63]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

>시리즈의 keys() 메소드

In [67]:
print(first_row.keys())            #속성 구문을 사용할 때는 소괄호()가 아닌 대괄호[]사용

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [69]:
print(first_row.index[0])
print(first_row.keys()[0])    #도 가능

Occupation
Occupation

>시리즈의 메소드 사용하기

In [29]:
ages = scientists ['Age']     #Age 열 시리즈 추출
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

---
-mean() 평균
-min() 최솟값
-max() 최댓값
-std() 표준편차
/ 넘파이의 ndarray의 메소드이기도 함

>기술 통계량 계산

In [71]:
scientists = pd.read_csv('./codes/data/scientists.csv', sep =',')   #tsv의 경우 ,sep = '\t'

In [72]:
ages = scientists ['Age']     #Age 열 시리즈 추출
print(ages.describe())        #기술 통계량 계산

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [73]:
print(ages.mean())

59.125

In [75]:
print(ages > ages.mean())       #반환값 확인 , 행 위치 뿐만 아니라 Boolean값으로 구성된 벡터로도 데이터 추출할 수 있다.

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [74]:
print(ages[ages > ages.mean()])    #대괄호[]안에 조건 지정

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

>벡터와 벡터, 벡터와 스칼라 계산

In [76]:
print(ages + ages)       
print(ages * ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

>길이가 서로 다른 벡터 연산

In [77]:
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

>인덱스가 같은 벡터 자동 정렬

In [79]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)                  #ages시리즈가 다음과 같이 내림차순으로 정렬됨

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [82]:
print(ages + rev_ages)   
#rev_ages의 인덱스는 내림차순으로 정렬되어 있지만 ages의 인덱스 레이블이 오름차순이라 결과의 인덱스가 오름차순으로 자동 정렬

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

>df의 구성

In [31]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [83]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [85]:
scientists.values       #모든 행 인덱스 정보를 봄. numpy표현법으로 간단하게 볼 때 유용

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

>df과 bool추출

In [88]:
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()])
#Age열의 값이 평균값 보다 큰 데이터만 추출

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

>df 대상으로 연산

In [89]:
first_half = scientists[ : 4]       #첫번째행부터 0,1,2,3
second_half = scientists[4 : ]      #4번째행부터 끝까지
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [90]:
print(scientists * 2)    #2번 반복

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [91]:
df1 = df2 = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]])     #리스트 괄호 잘보기
df_added = df1.add(df2)       #같은 셀끼리 값을 더하기 add()메소드 사용
print(df_added)

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18

>열 추가하기

In [94]:
print(scientists.dtypes)    #각 열의 유형 먼저 확인

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [95]:
born_datetime = pd.to_datetime(scientists['Born'],format = '%Y-%m-%d')
print(born_datetime)      #Born열 object -> datetime형으로 변환

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [96]:
died_datetime = pd.to_datetime(scientists['Died'],format = '%Y-%m-%d')
print(died_datetime)      #Died열도 위와 같으므로 변환

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [98]:
scientists['born_dt'],scientists['died_dt'] = (born_datetime, died_datetime)    #새로운 열로 df 추가

In [99]:
print(scientists.head())        #추가된 열 head()메소드로 확인

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [100]:
print(scientists.shape)

(8, 7)

>열 내용 변환

In [102]:
print(scientists["Age"].sample(frac=1,random_state =42))
      #random_state 컴퓨터가 생성하는 난수의 기준값 / 현재 순서는 무작위

1    61
5    45
0    37
7    77
2    90
4    56
3    66
6    41
Name: Age, dtype: int64

In [101]:
scientists["Age"] = scientists["Age"].sample(frac=1,random_state =42)   
#frac은 랜덤으로 섞을 비율을 말함 1=100%, 0.1=10%
print(scientists['Age'])       #무작위였던 데이터가 Age열의 값이 기존 순서대로 돌아감. 판다스가 index를 기준으로 자동 병합하기 때문.

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [103]:
scientists["Age"] = scientists["Age"].sample(frac=1,random_state =42).values
print(scientists['Age'])         #나이 정보가 뒤죽박죽,,,

0    61
1    45
2    37
3    77
4    90
5    56
6    66
7    41
Name: Age, dtype: int64

In [104]:
scientists['age_days'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days
0 1920-07-25 1958-04-16 13779 days
1 1876-06-13 1937-10-16 22404 days
2 1820-05-12 1910-08-13 32964 days
3 1867-11-07 1934-07-04 24345 days
4 1907-05-27 1964-04-14 20777 days
5 1813-03-15 1858-06-16 16529 days
6 1912-06-23 1954-06-07 15324 days
7 1777-04-30 1855-02-23 28422 days

In [106]:
scientists['age_years'] = (scientists['age_days'].dt.days / 365).apply(np.floor)   #새로운 열 추가 : 출생일부터 사망일까지의 날짜 수를 햇수로 변환 floor 버림
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years
0 1920-07-25 1958-04-16 13779 days       37.0
1 1876-06-13 1937-10-16 22404 days       61.0
2 1820-05-12 1910-08-13 32964 days       90.0
3 1867-11-07 1934-07-04 24345 days       66.0
4 1907-05-27 1964-04-14 20777 days       56.0
5 1813-03-15 1858-06-16 16529 days       45.0
6 1912-06-23 1954-06-07 15324 days       41.0
7 1777-04-30 1855-02-23 28422 days       77.0

In [109]:
scientists = scientists.assign(
                               age_days_assign = scientists['died_dt'] - scientists['born_dt'],
                               age_year_assign = (scientists['age_days'].dt.days / 365).apply(np.floor))

print(scientists)            #할당 연산자 왼쪽 : 새로운 열의 이름  오른쪽 : 할당할 값을 계산하는 연산

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days       37.0      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days       61.0      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days       90.0      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days       66.0      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days       56.0      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days       45.0      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days       41.0      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days       77.0      28422 days             77.0

In [110]:
scientists['age_years'] = (scientists['age_days'].dt.days / 365).apply(np.floor)

print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days       37.0      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days       61.0      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days       90.0      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days       66.0      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days       56.0      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days       45.0      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days       41.0      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days       77.0      28422 days             77.0

>데이터 저장하고 불러오기

In [111]:
names = scientists['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [113]:
names.to_pickle('./codes/data/scientists_names_series.pickle')   #이진 형식, 피클로 저장

- 피클 데이터 읽어오기

In [116]:
series_pickle = pd.read_pickle('./codes/data/scientists_names_series.pickle')
print(series_pickle)          #pd.read_pickle 사용

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

- csv는 모든 프로그램에서 열 수 있고 범용성이 뛰어나지만 속도가 느리고 공간을 많이 차지함

In [51]:
scientists.to_csv('./codes/data/scientists.csv',index = False)   #행 번호는 제외하고 저장
print(scientists.to_csv)
pd.read_csv('./codes/data/scientists.csv')

<bound method NDFrame.to_csv of                    Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician>

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

- 엑셀로 저장

In [117]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [122]:
names = scientists['Name']
names_df = names.to_frame()    #시리즈를 df으로 변환
names_df.to_excel('./codes/data/scientists_names_seies_df.xls', engine='openpyxl')  #to_exel()메소드로 엑셀 파일을 저장

- 딕셔너리로 변환

In [125]:
sci_sub_dict = scientists.head(2)
sci_dict = sci_sub_dict.to_dict()

In [126]:
import pprint
pprint.pprint(sci_dict)

{'Age': {0: 61, 1: 45},
 'Born': {0: '1920-07-25', 1: '1876-06-13'},
 'Died': {0: '1958-04-16', 1: '1937-10-16'},
 'Name': {0: 'Rosaline Franklin', 1: 'William Gosset'},
 'Occupation': {0: 'Chemist', 1: 'Statistician'},
 'age_days': {0: Timedelta('13779 days 00:00:00'),
              1: Timedelta('22404 days 00:00:00')},
 'age_days_assign': {0: Timedelta('13779 days 00:00:00'),
                     1: Timedelta('22404 days 00:00:00')},
 'age_year_assign': {0: 37.0, 1: 61.0},
 'age_years': {0: 37.0, 1: 61.0},
 'born_dt': {0: Timestamp('1920-07-25 00:00:00'),
             1: Timestamp('1876-06-13 00:00:00')},
 'died_dt': {0: Timestamp('1958-04-16 00:00:00'),
             1: Timestamp('1937-10-16 00:00:00')}}